<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abtnetworks.totems.credential.dao.mysql.CredentialMapper">
    <resultMap id="CredentialMap" type="com.abtnetworks.totems.credential.entity.CredentialEntity" >
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <id column="name" jdbcType="VARCHAR" property="name"/>
        <id column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <id column="login_password" jdbcType="VARCHAR" property="loginPassword"/>
        <id column="enable_user_name" jdbcType="VARCHAR" property="enableUserName"/>
        <id column="enable_password" jdbcType="VARCHAR" property="enablePassword"/>
        <id column="branch_level" jdbcType="VARCHAR" property="branchLevel"/>
    </resultMap>

    <sql id="Base_Column_List">
       id, uuid, `name`, login_name,login_password,enable_user_name,enable_password,branch_level
    </sql>


    <insert id="create" parameterType="com.abtnetworks.totems.credential.entity.CredentialEntity" >
        insert into topo_credential (id, uuid, name, login_name, login_password, enable_user_name, enable_password,branch_level)
        values (#{id, jdbcType=VARCHAR}, #{uuid, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{loginName, jdbcType=VARCHAR}, #{loginPassword, jdbcType=VARCHAR},
                #{enableUserName, jdbcType=VARCHAR}, #{enablePassword, jdbcType=VARCHAR},#{branchLevel, jdbcType=VARCHAR})
    </insert>

    <update id="modify" parameterType="com.abtnetworks.totems.credential.entity.CredentialEntity" >
        update topo_credential
        <set>
            <if test="name != null and loginName!=''">
                name=#{name},
            </if>
            <if test="loginName != null and loginName!=''">
                login_name=#{loginName},
            </if>
            <if test="loginPassword != null and loginPassword!=''">
                login_password=#{loginPassword},
            </if>
            <if test="enableUserName != null and enableUserName!=''">
                enable_user_name=#{enableUserName},
            </if>
            <if test="enablePassword != null and enablePassword!=''">
                enable_password=#{enablePassword},
            </if>
            <if test="branchLevel != null and branchLevel!=''">
                branch_level=#{branchLevel,jdbcType=VARCHAR} ,
            </if>

        </set>
        where uuid=#{uuid}
    </update>

    <update id="modifyById" parameterType="com.abtnetworks.totems.credential.entity.CredentialEntity" >
        update topo_credential
        <set>
        <if test="name != null and loginName!=''">
            name=#{name},
        </if>
            <if test="loginName != null and loginName!=''">
                login_name=#{loginName},
            </if>
            <if test="loginPassword != null and loginPassword!=''">
                login_password=#{loginPassword},
            </if>
            <if test="enableUserName != null and enableUserName!=''">
                enable_user_name=#{enableUserName},
            </if>
            <if test="enablePassword != null and enablePassword!=''">
                enable_password=#{enablePassword},
            </if>
            <if test="branchLevel != null and branchLevel!=''">
                branch_level=#{branchLevel,jdbcType=VARCHAR} ,
            </if>
            <if test="branchLevel != null and branchLevel!=''">
                uuid=#{uuid} ,
            </if>
        </set>
              where id = #{id}

    </update>
    <update id="modifyBatchBranch" parameterType="java.util.List" >


        <foreach item="item" index="index" collection="updateCredentialDTOS"  open="" close="" separator=";">
            update topo_credential set branch_level=#{item.branchLevel, jdbcType=VARCHAR} where uuid   =    #{item.uuid}
        </foreach>

    </update>

    <select id="get" parameterType="java.lang.String" resultMap="CredentialMap">
        select * from topo_credential where uuid=#{uuid, jdbcType=VARCHAR}
    </select>

    <select id="getByUuid" parameterType="java.lang.String" resultMap="CredentialMap">
        select
        <include refid="Base_Column_List"/>
        from topo_credential where uuid=#{uuid}
    </select>

    <delete id="delete" parameterType="java.lang.String" >
        delete from topo_credential where uuid=#{uuid, jdbcType=VARCHAR}
    </delete>

    <select id="getByName" parameterType="java.lang.String" resultMap="CredentialMap">
        select
        <include refid="Base_Column_List"/>
        from topo_credential where name=#{name}
    </select>

    <select id="listByParam" parameterType="com.abtnetworks.totems.credential.dto.SearchCredentialByPageDTO" resultMap="CredentialMap">
        select * from topo_credential where 1=1
        <if test="name != null and name != ''">
            and name like  concat('%',#{name},'%')
        </if>
        <if test="branchLevel != null ">
            and  branch_level  like #{branchLevel}
        </if>
    </select>

    <select id="listByParamCount" parameterType="com.abtnetworks.totems.credential.dto.SearchCredentialByPageDTO" resultType="java.lang.Integer">
        select count(1) from topo_credential where 1=1
        <if test="name != null and name != ''">
            and name like  concat('%',#{name},'%')
        </if>
        <if test="branchLevel != null ">
            and  branch_level  like #{branchLevel}
        </if>
    </select>
</mapper>